@model DigitalArtShowcase.Models.Artist
@{
    ViewData["Title"] = "New Artist";
}

<h1>New Artist</h1>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" action="/ArtistPage/Add">
            <div class="form-group">
                <label class="control-label">First Name:</label>
                <input name="FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Last Name:</label>
                <input name="LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Description of Artist:</label>
                <input name="ArtistBio" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Email id of Artist:</label>
                <input name="Email" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!-- Footer -->
<footer>
    <p>© 2024 - DigitalArtShowcase - <a href="#">Privacy</a></p>
</footer>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
